@import url('https://fonts.googleapis.com/css2?family=Quando&display=swap');
:root {
    /* COLORS */
    --dark-blue-title-color: #0F5D70;
    --blue-name-color: #199DBD;
    --blue-button-color: #1FC6F0;
    --dark-grey-text-color: #443F3F;
    /* DESKTOP FONT SIZE */
    --h1-desktop-font-size: 2.44rem;
    --h2-desktop-font-size: 1.953rem;
    --h3-desktop-font-size: 1.564rem;
    --h4-desktop-font-size: 1.25rem;
    --infos-desktop-font-size: 0.639rem;
    /* MOBILE FONT SIZE */
    --h1-mobile-font-size: 2.344rem;
    --h2-mobile-font-size: 1.877rem;
    --h3-mobile-font-size: 1.5rem;
    --h4-mobile-font-size: 1.2rem;
    --infos-mobile-font-size: 0.767rem;
    --principal-font: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    line-height: 1;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #59595b;
}

p {
    color: #443F3F;
    ;
}

h1 {
    font-size: 4rem;
    color: #443F3F;
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    font-size: 3rem;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #0F5D70;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.2rem;
}

@media screen and (min-width: 768px) {
    html {
        font-size: 18px;
    }
    h1 {
        font-size: 3rem;
        color: #443F3F;
    }
    h2 {
        font-size: 2rem;
        color: #0F5D70;
    }
    h3 {
        font-size: 1.3rem;
    }
    h4 {
        font-size: 1.2rem;
    }
}